<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="/plantilla/plantilla.xhtml">
            <ui:define name="content">
                <h1>Datos de los Libros</h1>
                <!-- INICIO - MANDA A LLAMAR NUEVO-->
                <h:form>
                    <p:commandButton value="Crear Libro: " actionListener="#{libroBean.prepararNuevoLibro()}"
                                     oncomplete="PF('dialogoNuevoLibro').show();"
                                     update=":formNuevoLibro"/>

                </h:form>
                <!-- FIN - MANDA A LLAMAR NUEVO-->        
                <!-- inicia formulario listar -->
                <h:form id="formMostrarLibro">
                    <p:dataTable id="tablaLibro" paginator="true" paginatorPosition="top"
                                 var="a" value="#{libroBean.listarLibros}" emptyMessage="No hay datos...">
                        <p:column headerText="Id Libro: ">
                            <h:outputText value="#{a.idlibro}"/>
                        </p:column>
                        <p:column headerText="Id Autor: ">
                            <h:outputText value="#{a.idautor}"/>
                        </p:column>
                        <p:column headerText="Id Tipo: ">
                            <h:outputText value="#{a.idtipo}"/>
                        </p:column>
                        <p:column headerText="Nombre Libro: ">
                            <h:outputText value="#{a.nombrelibro}"/>
                        </p:column>

                        <p:column headerText="Modificar">
                            <p:commandButton value="Modificar" oncomplete="PF('dialogoModificarLibro').show();"
                                             update=":formModificarLibro">
                                <f:setPropertyActionListener target="#{libroBean.libro}" value="#{a}"/>
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="Eliminar">
                            <p:commandButton value="Eliminar" oncomplete="PF('dialogoEliminarLibro').show();"
                                             update=":formEliminarLibro">
                                <f:setPropertyActionListener target="#{libroBean.libro}" value="#{a}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
                <!-- finaliza formulario listar -->
                <!-- Inicio formulario nuevo -->
                <h:form id="formNuevoLibro">
                    <p:dialog id="digNuevoLibro" widgetVar="dialogoNuevoLibro" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:panelGrid columns="1" style="margin: 0 auto;">

                            <p:outputLabel value="Audor: "/>
                            <p:selectOneMenu id="tipoA" value="#{libroBean.libro.idautor}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{autorBean.seleccionarAutor}"/>
                                <f:ajax execute="tipoA" render="selecA"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Autor:"/>
                            <p:inputText id="selecA" readonly="true" value="#{libroBean.libro.idautor}"/>

                            <p:outputLabel value="Audor: "/>
                            <p:selectOneMenu id="tipoT" value="#{libroBean.libro.idtipo}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{tipoBean.seleccionarTipos}"/>
                                <f:ajax execute="tipoT" render="selecT"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Tipo:"/>
                            <p:inputText id="selecT" readonly="true" value="#{libroBean.libro.idtipo}"/>

                            <p:outputLabel value="Nombre/Libro: "/>
                            <p:inputText value="#{libroBean.libro.nombrelibro}"/>

                        </h:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{libroBean.nuevoLibro()}"
                                         update=":formMostrarLibro:tablaLibro"
                                         oncomplete="PF('dialogoNuevoLibro').hide();"/>
                        <p:commandButton value="Cancelar"
                                         onclick="PF('dialogoNuevoLibro').hide();"/>
                    </p:dialog>
                </h:form>
                <!-- finaliza formulario nuevo-->
                <!-- Inicio formulario MODIFICAR  -->
                <h:form id="formModificarLibro">
                    <p:dialog id="digModificarLibro" widgetVar="dialogoModificarLibro" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:panelGrid columns="2" style="margin: 0 auto;">

                            <p:outputLabel value="Audor: "/>
                            <p:selectOneMenu id="tipoA" value="#{libroBean.libro.idautor}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{autorBean.seleccionarAutor}"/>
                                <f:ajax execute="tipoA" render="selecA"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Autor:"/>
                            <p:inputText id="selecA" readonly="true" value="#{libroBean.libro.idautor}"/>

                            <p:outputLabel value="Audor: "/>
                            <p:selectOneMenu id="tipoT" value="#{libroBean.libro.idtipo}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{tipoBean.seleccionarTipos}"/>
                                <f:ajax execute="tipoT" render="selecT"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Tipo:"/>
                            <p:inputText id="selecT" readonly="true" value="#{libroBean.libro.idtipo}"/>

                            <p:outputLabel value="Nombre/Libro: "/>
                            <p:inputText value="#{libroBean.libro.nombrelibro}"/>


                        </h:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{libroBean.modificarLibro()}"
                                         update=":formMostrarLibro:tablaLibro"
                                         oncomplete="PF('dialogoModificarLibro').hide();"/>
                        <p:commandButton value="Cancelar"
                                         onclick="PF('dialogoModificarLibro').hide();"/>
                    </p:dialog>

                </h:form>
                <!-- finaliza formulario MODIFICAR -->
                <!-- Inicio formulario ELIMINAR -->
                <h:form id="formEliminarLibro">
                    <p:dialog id="digEliminarLibro" widgetVar="dialogoEliminarLibro" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:outputText value="Desea eliminar el registro de libro?.  "/>
                        <p:commandButton value=" si  " actionListener="#{libroBean.eliminarLibro()}"
                                         update=":formMostrarLibro:tablaLibro"
                                         oncomplete="PF('dialogoEliminarLibro').hide();"/>
                        <p:commandButton value="  No  "
                                         onclick="PF('dialogoEliminarLibro').hide();"/>
                    </p:dialog>
                </h:form>
                <!-- finaliza formulario ELIMINAR-->
            </ui:define>
        </ui:composition>
    </body>
</html>