<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <ui:composition template="/plantilla/plantilla.xhtml">
            <ui:define name="content">
                <h1>Autores de libros</h1>
                <!-- INICIO - MANDA A LLAMAR NUEVO-->
                <h:form>
                    <p:commandButton value="Crear Autor: " actionListener="#{autorBean.prepararNuevaAutor()}"
                                     oncomplete="PF('dialogoNuevoAutor').show();"
                                     update=":formNuevoAutor"/>

                </h:form>
                <!-- FIN - MANDA A LLAMAR NUEVO-->        
                <!-- inicia formulario listar -->
                <h:form id="formMostrarAutor">
                    <p:dataTable id="tablaAutor" paginator="true" paginatorPosition="top"
                                 var="a" value="#{autorBean.listarAutor}" emptyMessage="No hay datos...">
                        <p:column headerText="IdAutor: ">
                            <h:outputText value="#{a.idautor}"/>
                        </p:column>
                        
                        <p:column headerText="Nombre: ">
                            <h:outputText value="#{a.nombreautor}"/>
                        </p:column>

                        <p:column headerText="Modificar">
                            <p:commandButton value="Modificar" oncomplete="PF('dialogoModificarAutor').show();"
                                             update=":formModificarAutor">
                                <f:setPropertyActionListener target="#{autorBean.autor}" value="#{a}"/>
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="Eliminar">
                            <p:commandButton value="Eliminar" oncomplete="PF('dialogoEliminarAutor').show();"
                                             update=":formEliminarAutor">
                                <f:setPropertyActionListener target="#{autorBean.autor}" value="#{a}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
                <!-- finaliza formulario listar -->
                <!-- Inicio formulario nuevo -->
                <h:form id="formNuevoAutor">
                    <p:dialog id="digNuevoAutor" widgetVar="dialogoNuevoAutor" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:panelGrid columns="1" style="margin: 0 auto;">

                            <p:outputLabel value="Nombre/Autor "/>
                            <p:inputText value="#{autorBean.autor.nombreautor}"/>

                        </h:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{autorBean.nuevoaAutor()}"
                                         update=":formMostrarAutor:tablaAutor"
                                         oncomplete="PF('dialogoNuevoAutor').hide();"/>
                        <p:commandButton value="Cancelar"
                                         onclick="PF('dialogoNuevoAutor').hide();"/>
                    </p:dialog>
                </h:form>
                <!-- finaliza formulario nuevo-->
                <!-- Inicio formulario MODIFICAR  -->
                <h:form id="formModificarAutor">
                    <p:dialog id="digModificarLibro" widgetVar="dialogoModificarAutor" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:panelGrid columns="2" style="margin: 0 auto;">

                            <p:outputLabel value="Nombre/Autor: "/>
                            <p:inputText value="#{autorBean.autor.nombreautor}"/>

                        </h:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{autorBean.modificarAutor()}"
                                         update=":formMostrarAutor:tablaAutor"
                                         oncomplete="PF('dialogoModificarAutor').hide();"/>
                        <p:commandButton value="Cancelar"
                                         onclick="PF('dialogoModificarAutor').hide();"/>
                    </p:dialog>

                </h:form>
                <!-- finaliza formulario MODIFICAR -->
                <!-- Inicio formulario ELIMINAR -->
                <h:form id="formEliminarAutor">
                    <p:dialog id="digEliminarAutor" widgetVar="dialogoEliminarAutor" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:outputText value="Desea eliminar el registro de autor?.  "/>
                        <p:commandButton value=" si  " actionListener="#{autorBean.eliminarAutor()}"
                                         update=":formMostrarAutor:tablaAutor"
                                         oncomplete="PF('dialogoEliminarAutor').hide();"/>
                        <p:commandButton value="  No  "
                                         onclick="PF('dialogoEliminarAutor').hide();"/>
                    </p:dialog>
                </h:form>
                <!-- finaliza formulario ELIMINAR-->
            </ui:define>
        </ui:composition>
    </body>
</html>