<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <script type="text/javascript">
            PrimeFaces.locales['es'] = {
                closeText: 'Cerrar',
                prevText: 'Anterior',
                nextText: 'Siguiente',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                dayNamesMin: ['D', 'L', 'M', 'X', 'J', 'V', 'S'],
                weekHeader: 'Semana',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Sólo hora',
                timeText: 'Tiempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                currentText: 'Fecha actual',
                ampm: false,
                month: 'Mes',
                week: 'Semana',
                day: 'Día',
                allDayText: 'Todo el día'
            };
        </script>

        <ui:composition template="/plantilla/plantilla.xhtml">
            <ui:define name="content">
                <h1>Datos de Control</h1>
                <!-- INICIO - MANDA A LLAMAR NUEVO-->
                <h:form>
                    <p:commandButton value="Crear Registro: " actionListener="#{controlBean.prepararNuevoControl()}"
                                     oncomplete="PF('dialogoNuevoControl').show();"
                                     update=":formNuevoControl"/>

                </h:form>
                <!-- FIN - MANDA A LLAMAR NUEVO-->        
                <!-- inicia formulario listar -->
                <h:form id="formMostrarControl">
                    <p:dataTable id="tablaControl" paginator="true" paginatorPosition="top"
                                 var="a" value="#{controlBean.listarControl}" emptyMessage="No hay datos...">
                        <p:column headerText="Id Control: ">
                            <h:outputText value="#{a.idcontrol}"/>
                        </p:column>
                        <p:column headerText="Id Empleado: ">
                            <h:outputText value="#{a.idpersona}"/>
                        </p:column>
                        <p:column headerText="Id Usuario: ">
                            <h:outputText value="#{a.idusuario}"/>
                        </p:column>
                        <p:column headerText="Id Libro: ">
                            <h:outputText value="#{a.idlibro}"/>
                        </p:column>
                        <p:column headerText="Fecha Registro: ">
                            <h:outputText value="#{a.fecharegistro}"/>
                        </p:column>
                        <p:column headerText="Fecha Devolición: ">
                            <h:outputText value="#{a.fechadevolucion}"/>
                        </p:column>
                        <p:column headerText="Estado: 1 = prestado, 2 = entregado">
                            <h:outputText value="#{a.estado}"/>
                        </p:column>

                        <p:column headerText="Modificar">
                            <p:commandButton value="Modificar" oncomplete="PF('dialogoModificarControl').show();"
                                             update=":formModificarControl">
                                <f:setPropertyActionListener target="#{controlBean.control}" value="#{a}"/>
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="Eliminar">
                            <p:commandButton value="Eliminar" oncomplete="PF('dialogoEliminarControl').show();"
                                             update=":formEliminarControl">
                                <f:setPropertyActionListener target="#{controlBean.control}" value="#{a}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
                <!-- finaliza formulario listar -->
                <!-- Inicio formulario nuevo -->
                <h:form id="formNuevoControl">
                    <p:dialog id="digNuevoControl" widgetVar="dialogoNuevoControl" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:panelGrid columns="1" style="margin: 0 auto;">

                            <p:outputLabel value="Empleado: "/>
                            <p:selectOneMenu id="tipoP" value="#{controlBean.control.idpersona}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{personalBean.seleccionarPersonal}"/>
                                <f:ajax execute="tipoP" render="selecP"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Empleado:"/>
                            <p:inputText id="selecP" readonly="true" value="#{controlBean.control.idpersona}"/>

                            <p:outputLabel value="Usuario: "/>
                            <p:selectOneMenu id="tipoU" value="#{controlBean.control.idusuario}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{usuarioBean.seleccionarUsuario}"/>
                                <f:ajax execute="tipoU" render="selecU"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Usuario:"/>
                            <p:inputText id="selecU" readonly="true" value="#{controlBean.control.idusuario}"/>

                            <p:outputLabel value="Libro: "/>
                            <p:selectOneMenu id="tipoL" value="#{controlBean.control.idlibro}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{libroBean.seleccionarLibro}"/>
                                <f:ajax execute="tipoL" render="selecL"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Libro:"/>
                            <p:inputText id="selecL" readonly="true" value="#{controlBean.control.idlibro}"/>

                            <p:outputLabel value="Seleccione Fecha solicitud "/>
                            <p:calendar  value="#{controlBean.control.fecharegistro}" locale="es" pattern="dd/MM/yyyy">
                                <p:ajax event="dateSelect" id="dateSolicitud" listener="#{controlBean.actualizar_fecha}"/> 
                            </p:calendar>

                            <p:outputLabel value="Seleccione Fecha Debulución "/>
                            <p:calendar  value="#{controlBean.control.fechadevolucion}" locale="es" pattern="dd/MM/yyyy">
                                <p:ajax event="dateSelect" id="dateDebulucion" listener="#{controlBean.actualizar_fecha}"/> 
                            </p:calendar>

                            <p:outputLabel value="Estado: 1 = prestado, 2 = entregado"/>
                            <p:inputText value="#{controlBean.control.estado}"/>

                        </h:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{controlBean.nuevoControl()}"
                                         update=":formMostrarControl:tablaControl"
                                         oncomplete="PF('dialogoNuevoControl').hide();"/>
                        <p:commandButton value="Cancelar"
                                         onclick="PF('dialogoNuevoControl').hide();"/>
                    </p:dialog>
                </h:form>
                <!-- finaliza formulario nuevo-->
                <!-- Inicio formulario MODIFICAR  -->
                <h:form id="formModificarControl">
                    <p:dialog id="digModificarControl" widgetVar="dialogoModificarControl" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:panelGrid columns="2" style="margin: 0 auto;">

                            <p:outputLabel value="Empleado: "/>
                            <p:selectOneMenu id="tipoP" value="#{controlBean.control.idpersona}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{personalBean.seleccionarPersonal}"/>
                                <f:ajax execute="tipoP" render="selecP"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Empleado:"/>
                            <p:inputText id="selecP" readonly="true" value="#{controlBean.control.idpersona}"/>

                            <p:outputLabel value="Usuario: "/>
                            <p:selectOneMenu id="tipoU" value="#{controlBean.control.idusuario}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{usuarioBean.seleccionarUsuario}"/>
                                <f:ajax execute="tipoU" render="selecU"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Usuario:"/>
                            <p:inputText id="selecU" readonly="true" value="#{controlBean.control.idusuario}"/>

                            <p:outputLabel value="Libro: "/>
                            <p:selectOneMenu id="tipoL" value="#{controlBean.control.idlibro}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{usuarioBean.seleccionarUsuario}"/>
                                <f:ajax execute="tipoL" render="selecL"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Libro:"/>
                            <p:inputText id="selecL" readonly="true" value="#{controlBean.control.idlibro}"/>

                            <p:outputLabel value="Seleccione Fecha solicitud "/>
                            <p:calendar  value="#{controlBean.control.fecharegistro}" locale="es" pattern="dd/MM/yyyy">
                                <p:ajax event="dateSelect" id="dateSolicitud" listener="#{controlBean.actualizar_fecha}"/> 
                            </p:calendar>

                            <p:outputLabel value="Seleccione Fecha Debulución "/>
                            <p:calendar  value="#{controlBean.control.fechadevolucion}" locale="es" pattern="dd/MM/yyyy">
                                <p:ajax event="dateSelect" id="dateDebulucion" listener="#{controlBean.actualizar_fecha}"/> 
                            </p:calendar>

                            <p:outputLabel value="Estado: 1 = prestado, 2 = entregado"/>
                            <p:inputText value="#{controlBean.control.estado}"/>


                        </h:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{controlBean.modificarControl()}"
                                         update=":formMostrarControl:tablaControl"
                                         oncomplete="PF('dialogoModificarControl').hide();"/>
                        <p:commandButton value="Cancelar"
                                         onclick="PF('dialogoModificarControl').hide();"/>
                    </p:dialog>

                </h:form>
                <!-- finaliza formulario MODIFICAR -->
                <!-- Inicio formulario ELIMINAR -->
                <h:form id="formEliminarControl">
                    <p:dialog id="digEliminarControl" widgetVar="dialogoEliminarControl" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:outputText value="Desea eliminar el registro de Control?.  "/>
                        <p:commandButton value=" si  " actionListener="#{controlBean.eliminarControl()}"
                                         update=":formMostrarControl:tablaControl"
                                         oncomplete="PF('dialogoEliminarControl').hide();"/>
                        <p:commandButton value="  No  "
                                         onclick="PF('dialogoEliminarControl').hide();"/>
                    </p:dialog>
                </h:form>
                <!-- finaliza formulario ELIMINAR-->
            </ui:define>
        </ui:composition>
    </body>
</html>