<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>
        <script type="text/javascript">
            PrimeFaces.locales['es'] = {
                closeText: 'Cerrar',
                prevText: 'Anterior',
                nextText: 'Siguiente',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                dayNamesMin: ['D', 'L', 'M', 'X', 'J', 'V', 'S'],
                weekHeader: 'Semana',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Sólo hora',
                timeText: 'Tiempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                currentText: 'Fecha actual',
                ampm: false,
                month: 'Mes',
                week: 'Semana',
                day: 'Día',
                allDayText: 'Todo el día'
            };
        </script>

        <ui:composition template="/plantilla/plantilla.xhtml">
            <ui:define name="content">
                <h1>Datos de Empleados</h1>
                <!-- INICIO - MANDA A LLAMAR NUEVO-->
                <h:form>
                    <p:commandButton value="Crear Empleado: " actionListener="#{personalBean.prepararNuevoPersonal()}"
                                     oncomplete="PF('dialogoNuevoPersonal').show();"
                                     update=":formNuevoPersonal"/>

                </h:form>
                <!-- FIN - MANDA A LLAMAR NUEVO-->        
                <!-- inicia formulario listar -->
                <h:form id="formMostrarPersonal">
                    <p:dataTable id="tablaPersonal" paginator="true" paginatorPosition="top"
                                 var="a" value="#{personalBean.listarPersonal}" emptyMessage="No hay datos...">
                        <p:column headerText="IdPerasona: ">
                            <h:outputText value="#{a.idpersona}"/>
                        </p:column>
                        <p:column headerText="IdPuesto: ">
                            <h:outputText value="#{a.idpuesto}"/>
                        </p:column>
                        <p:column headerText="Nombre: ">
                            <h:outputText value="#{a.nombrepersona}"/>
                        </p:column>
                        <p:column headerText="Apellido: ">
                            <h:outputText value="#{a.apellido}"/>
                        </p:column>
                        <p:column headerText="Fecha Nacimiento: ">
                            <h:outputText value="#{a.fechanacimiento}"/>
                        </p:column>
                        <p:column headerText="Cel.: ">
                            <h:outputText value="#{a.cel}"/>
                        </p:column>
                        <p:column headerText="Direccion: ">
                            <h:outputText value="#{a.direccion}"/>
                        </p:column>

                        <p:column headerText="Modificar">
                            <p:commandButton value="Modificar" oncomplete="PF('dialogoModificarPersonal').show();"
                                             update=":formModificarPersonal">
                                <f:setPropertyActionListener target="#{personalBean.personal}" value="#{a}"/>
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="Eliminar">
                            <p:commandButton value="Eliminar" oncomplete="PF('dialogoEliminarPersonal').show();"
                                             update=":formEliminarPersonal">
                                <f:setPropertyActionListener target="#{personalBean.personal}" value="#{a}"/>
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
                <!-- finaliza formulario listar -->
                <!-- Inicio formulario nuevo -->
                <h:form id="formNuevoPersonal">
                    <p:dialog id="digNuevoPersonal" widgetVar="dialogoNuevoPersonal" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:panelGrid columns="1" style="margin: 0 auto;">

                            <p:outputLabel value="Puesto: "/>
                            <p:selectOneMenu id="tipoP" value="#{personalBean.personal.idpuesto}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{puestoBean.seleccionarPuesto}"/>
                                <f:ajax execute="tipoP" render="selecP"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Puesto:"/>
                            <p:inputText id="selecP" readonly="true" value="#{personalBean.personal.idpuesto}"/>

                            <p:outputLabel value="Nombre: "/>
                            <p:inputText value="#{personalBean.personal.nombrepersona}"/>

                            <p:outputLabel value="Apellido: "/>
                            <p:inputText value="#{personalBean.personal.apellido}"/>

                            <p:outputLabel value="Seleccione fechaNacimiento: "/>
                            <p:calendar  value="#{personalBean.personal.fechanacimiento}" locale="es" pattern="dd/MM/yyyy">
                                <p:ajax event="dateSelect" id="date" listener="#{personalBean.actualizar_fecha}"/> 
                            </p:calendar>

                            <p:outputLabel value="Cel.: "/>
                            <p:inputText value="#{personalBean.personal.cel}"/>

                            <p:outputLabel value="Dirección: "/>
                            <p:inputText value="#{personalBean.personal.direccion}"/>

                        </h:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{personalBean.nuevoPersonal()}"
                                         update=":formMostrarPersonal:tablaPersonal"
                                         oncomplete="PF('dialogoNuevoPersonal').hide();"/>
                        <p:commandButton value="Cancelar"
                                         onclick="PF('dialogoNuevoPersonal').hide();"/>
                    </p:dialog>
                </h:form>
                <!-- finaliza formulario nuevo-->
                <!-- Inicio formulario MODIFICAR  -->
                <h:form id="formModificarPersonal">
                    <p:dialog id="digModificarPersonal" widgetVar="dialogoModificarPersonal" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:panelGrid columns="2" style="margin: 0 auto;">

                            <p:outputLabel value="Puesto: "/>
                            <p:selectOneMenu id="tipoP" value="#{personalBean.personal.idpuesto}">
                                <f:selectItem itemLabel=" Seleccionar " />
                                <f:selectItems value="#{puestoBean.seleccionarPuesto}"/>
                                <f:ajax execute="tipoP" render="selecP"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Id Puesto:"/>
                            <p:inputText id="selecP" readonly="true" value="#{personalBean.personal.idpuesto}"/>

                            <p:outputLabel value="Nombre: "/>
                            <p:inputText value="#{personalBean.personal.nombrepersona}"/>

                            <p:outputLabel value="Seleccione fechaNacimiento: "/>
                            <p:calendar  value="#{personalBean.personal.fechanacimiento}" locale="es" pattern="dd/MM/yyyy">
                                <p:ajax event="dateSelect" id="date" listener="#{personalBean.actualizar_fecha}"/> 
                            </p:calendar>

                            <p:outputLabel value="Apellido: "/>
                            <p:inputText value="#{personalBean.personal.apellido}"/>

                            <p:outputLabel value="Cel.: "/>
                            <p:inputText value="#{personalBean.personal.cel}"/>

                            <p:outputLabel value="Dirección: "/>
                            <p:inputText value="#{personalBean.personal.direccion}"/>


                        </h:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{personalBean.modificarPersonal()}"
                                         update=":formMostrarPersonal:tablaPersonal"
                                         oncomplete="PF('dialogoModificarPersonal').hide();"/>
                        <p:commandButton value="Cancelar"
                                         onclick="PF('dialogoModificarPersonal').hide();"/>
                    </p:dialog>

                </h:form>
                <!-- finaliza formulario MODIFICAR -->
                <!-- Inicio formulario ELIMINAR -->
                <h:form id="formEliminarPersonal">
                    <p:dialog id="digEliminarPersonal" widgetVar="dialogoEliminarPersonal" resizable="false" showEffect="explode"
                              hideEffect="explode" modal="true">
                        <h:outputText value="Desea eliminar el registro de Empleado?.  "/>
                        <p:commandButton value=" si  " actionListener="#{libroBean.eliminarLibro()}"
                                         update=":formMostrarPersonal:tablaPersonal"
                                         oncomplete="PF('dialogoEliminarPersonal').hide();"/>
                        <p:commandButton value="  No  "
                                         onclick="PF('dialogoEliminarPersonal').hide();"/>
                    </p:dialog>
                </h:form>
                <!-- finaliza formulario ELIMINAR-->
            </ui:define>
        </ui:composition>
    </body>
</html>